

.spinner-container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.details-container {
  flex-grow: 1;
  padding: 0px 16px;
}

.credit-card-details {
  margin-top: 16px;
  display: block;
}